<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text">I am a postdoctoral fellow in <a href="www.karinkettenring.com"style="color:white">Karin Kettenring's lab</a> at Utah State University studying social-ecological management of invasive species. I completed my PhD in <a href="https://sites.northwestern.edu/kramerlab/"style="color:white"> Andrea Kramer's lab</a>, part of the Program in Plant Biology and Conservation offered jointly by Northwestern University and Chicago Botanic Garden. </h2>
                
                <p class="text">I am a plant community ecologist interested in restoration ecology and invasion biology. My dissertation research tested community assembly theory in restorations by investigating how characteristics of native species influence invasion. </p>
                
            </div>
        </div>
    </div>
</section>
