<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
			<h2 class="section-heading">Publications</h2>
			
                
                
                <p class="text"; align="left">Hipp, AL, MC Glasenhardt, ML Bowles, M Garner, BC Scharenbroch, EW Williams, RS Barak, A Byrne, <b>AR Ernst</b>*, E Grigg, MG Midgley, H Wagreich, DJ Larkin. 2018. Effects of phylogenetic diversity and phylogenetic identity in a restoration ecology experiment. In: R Scherson, D Faith (eds) Phylogenetic Diversity: Applications and Challenges in Biodiversity Science. Springer.</p>
				<h4 class="text">In Revision </h4> 
				<p class="text"; align="left"><b>Ernst, AR*</b>, RS Barak, AL Hipp, AT Kramer, HE Marx, DJ Larkin. The invasion paradox dissolves when using phylogenetic and temporal perspectives. </p>
				<p class="text"; align="left">Karimi, N, DJ Larkin, MC Glasenhardt, RS Barak, EW Williams, <b>AR Ernst*</b>, AL Hipp. Selection on convergent functional traits drives compositional divergence in a tallgrass prairie restoration experiment. </p>
				<h4 class="text">In Review </h4> 
				<p class="text"; align="left">De Vitis, M, K Havens, RS Barak, L Egerton-Warburton, <b>AR Ernst*</b>, M Evans, JB Fant, AJ Foxx, K Hadley, J Jabcon, J O’Shaugnessey, S Ramakrishna, D Sollenberger, S Taddeo, R Urbina-Casanova, C Woolridge, L Xu, J Zeldin, AT Kramer. Why are some species missing in restorations? A roadmap for diagnosing and treating dark diversity.</p>
				<h4 class="text">To Be Submitted </h4> 
				<p class="text"; align="left"><b>Ernst, AR*</b>, RS Barak, MC Glasenhardt, AT Kramer, DJ Larkin, HE Marx, RE Poulton Kamakura, AL Hipp. Evaluating the potential of phylogenetic and functional diversity to promote invasion resistance in restorations. <i>To be submitted Mar 2021.</i> Journal of Ecology.</p>
                
				
            </div>
        </div>
    </div>
</section>
